// REQUIRED DEPENDENCIES - DO NOT CHANGE
@import "dependencies";

//-------------------------------------------
// Steve Edwards MIXINS
// Appearance
@import "/mixins/appearance";
// Direct parent
@import "/mixins/directparent";
// String replace
@import "/mixins/str-replace";
// String replace
@import "/mixins/str-split";

//-------------------------------------------
// Includes
@import "/includes/flex";
@import "/includes/grids";
@import "/includes/variations";

//-------------------------------------------
// THEME STYLING
// Base
@import "nucleus/theme/base";
// Animations
@import "#{$tmpl_name}/styles/animations";
// Core
@import "#{$tmpl_name}/styles/core";
// Grids
@import "#{$tmpl_name}/styles/grids";
// Hyperlinks
@import "#{$tmpl_name}/styles/hyperlinks";

@import "#{$tmpl_name}/styles/styleguide";
// Typography
@import "#{$tmpl_name}/styles/typography";
// Utilities
@import "#{$tmpl_name}/styles/utilities";
// Variations
@import "#{$tmpl_name}/styles/variations";
// Buttons
@import "#{$tmpl_name}/styles/buttons";
// Tables
@import "#{$tmpl_name}/styles/tables";
// Forms
@import "#{$tmpl_name}/styles/forms";
// Pagination
@import "#{$tmpl_name}/styles/pagination";
// Tags
@import "#{$tmpl_name}/styles/tags";
// Dropdown Animations
@import "#{$tmpl_name}/styles/dropdownanimations";
// Modal
@import "/elements/modal";
@import "#{$tmpl_name}/styles/modal";
// Loader
@import "#{$tmpl_name}/styles/loader";
// Searches
@import "#{$tmpl_name}/styles/searches";
// Print
@import "#{$tmpl_name}/styles/print";

//-------------------------------------------
// SECTIONS STYLING
// Accessibility
@import "#{$tmpl_name}/sections/accessibility";
// Article
@import "#{$tmpl_name}/sections/article";
// Bottom
@import "#{$tmpl_name}/sections/bottom";
// Breadcrumb
@import "#{$tmpl_name}/sections/breadcrumbs";
// Contact form
@import "#{$tmpl_name}/sections/contactform";
// Container Content
@import "#{$tmpl_name}/sections/containercontent";
// Display images
@import "#{$tmpl_name}/sections/displayimages";
// Footer
@import "#{$tmpl_name}/sections/footer";
// Gallery
@import "#{$tmpl_name}/sections/gallery";
// Header
@import "#{$tmpl_name}/sections/header";
// Heading
@import "#{$tmpl_name}/sections/heading";
// Hero
@import "#{$tmpl_name}/sections/hero";
// Hero slider
@import "#{$tmpl_name}/sections/heroslider";
// Home content
@import "#{$tmpl_name}/sections/homecontent";
// Inject
@import "#{$tmpl_name}/sections/inject";
// Join
@import "#{$tmpl_name}/sections/join";
// Listing
@import "#{$tmpl_name}/sections/listing";
// Main
@import "#{$tmpl_name}/sections/main";
// Main Nav
@import "#{$tmpl_name}/sections/mainnav";
// Navigation
@import "#{$tmpl_name}/sections/navigation";
// Neal's Yard
@import "#{$tmpl_name}/sections/nealsyard";
// Off Canvas
@import "#{$tmpl_name}/sections/offcanvas";
// PageSurround
@import "#{$tmpl_name}/sections/pagesurround";
// Various Rows
@import "#{$tmpl_name}/sections/various_rows";
//-------------------------------------------
// LAYOUTS STYLING
// Error
@import "#{$tmpl_name}/layouts/error";
// Offline
@import "#{$tmpl_name}/layouts/offline";

//-------------------------------------------
// PARTICLES STYLING
// Accessibility
@import "#{$tmpl_name}/particles/accessibility";
// Accordion
@import "#{$tmpl_name}/particles/accordion";
// Cards
@import "#{$tmpl_name}/particles/cards";
// Content Blocks
@import "#{$tmpl_name}/particles/contentblocks";
// Cookies
@import "#{$tmpl_name}/particles/cookies";
// Hero slider
@import "#{$tmpl_name}/particles/heroslider";
// Home content boxes
@import "#{$tmpl_name}/particles/homecontentboxes";
// Page Index
@import "#{$tmpl_name}/particles/pageindex";
// Slick Slider
@import "#{$tmpl_name}/particles/slickslider";
// Social
@import "#{$tmpl_name}/particles/social";
// Youtube
@import "#{$tmpl_name}/particles/youtube";

// Components
// Blog
@import "#{$tmpl_name}/components/blog";

//-------------------------------------------
// Modules
@import "#{$tmpl_name}/modules/sitemap";

//-------------------------------------------
// BREAKPOINTS
@import "nucleus/theme/breakpoints/base";
//-------------------------------------------
