// Font Family
$font-family-title:       "Playfair Display";
$font-family-default:     "HKGrotesk";
$font-family-code:        "Source Code Pro", Courier, "Courier New", serif;
$font-family-mono:        "Menlo", "Monaco", monospace;
$font-family-serif:       "Georgia", "Times", "Times New Roman", serif;

// Font Weights
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-regular:     400;
$font-weight-medium:      500;
$font-weight-semibold:    600;
$font-weight-bold:        700;
$font-weight-extrabold:   800;
$font-weight-ultrabold:   800;
$font-weight-black:       900;
$font-weight-heavy:       900;

$font-weights: 300,400,500,600,700,800,900;

@each $weight in $font-weights {
  .fw-#{$weight} {
    font-weight: #{$weight};
  }
}

// Base Sizes
$core-font-size:          17px !default;
$core-line-height:        28px !default;

$font-size-extra-small:   12px !default;
$font-size-small:         14px !default;
$font-size-medium:        17px !default;
$font-size-large:         20px !default;
$responsive-font-size:    1vw !default;

$line-height-extra-small: 20px !default;
$line-height-small:       20px !default;
$line-height-medium:      24px !default;
$line-height-large:       28px !default;

// Navigation Sizes
$navigation-line-height:  24px !default;

// Heading Sizes
$h1-font-size:            48px;
$h2-font-size:            40px;
$h3-font-size:            32px;
$h4-font-size:            28px;
$h5-font-size:            24px;
$h6-font-size:            20px;

$h1-line-height:          64px;
$h2-line-height:          48px;
$h3-line-height:          48px;
$h4-line-height:          36px;
$h5-line-height:          32px;
$h6-line-height:          24px;

$h-line-heights:          (
                          h1: $h1-line-height,
                          h2: $h2-line-height,
                          h3: $h3-line-height,
                          h4: $h4-line-height,
                          h5: $h5-line-height,
                          h6: $h6-line-height
);

$h1-line-height-mobile:   44px;
$h2-line-height-mobile:   48px;
$h3-line-height-mobile:   36px;
$h4-line-height-mobile:   32px;
$h5-line-height-mobile:   28px;
$h6-line-height-mobile:   24px;

$h-line-heights-mobile:          (
                          h1: $h1-line-height-mobile,
                          h2: $h2-line-height-mobile,
                          h3: $h3-line-height-mobile,
                          h4: $h4-line-height-mobile,
                          h5: $h5-line-height-mobile,
                          h6: $h6-line-height-mobile
);

$h1-font-size-mobile:     36px;
$h2-font-size-mobile:     32px;
$h3-font-size-mobile:     28px;
$h4-font-size-mobile:     24px;
$h5-font-size-mobile:     20px;
$h6-font-size-mobile:     18px;

$h-sizes:                 (
                            h1: $h1-font-size,
                            h2: $h2-font-size,
                            h3: $h3-font-size,
                            h4: $h4-font-size,
                            h5: $h5-font-size,
                            h6: $h6-font-size,
                          );

$h-sizes-mobile:          (
                            h1: $h1-font-size-mobile,
                            h2: $h2-font-size-mobile,
                            h3: $h3-font-size-mobile,
                            h4: $h4-font-size-mobile,
                            h5: $h5-font-size-mobile,
                            h6: $h6-font-size-mobile
                          );

$h1-letter-spacing:         0.1px;
$h2-letter-spacing:         0.1px;

// Forms
$form-font-size:            18px;
$form-padding-side:         20px;
$form2-border-radius:       4px;
$form2-font-weight:         500;
$form2-font-size:           20px;
$form2-line-height:         24px;
$form2-padding-vert:        16px;
$form2-padding-horiz:       16px;
$form2-padding-horiz-left:  24px;
$form2-padding-horiz-right: 16px;
$form2-padding:          $form2-padding-vert $form2-padding-horiz;

// Button
$button-box-shadow-px:    0px 4px 4px;
$button-box-shadow-px-sm: 0px 2px 2px;