.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$cards-spacing};

  @include breakpoint(mobile-only) {
    margin: 12px -8px;

    &.testimonials {
      padding: 0 28px 12px;
    }
  }

  .panel & {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-block {
    display: flex;

    &:not([class*="size-"]) {
      width: calc(100% / 3);

      @include breakpoint(tablet-range) {
        width: 50%;
      }

      @include breakpoint(mobile-only) {
        width: 100%;
      }
    }

    &[class*="size-25"], &[class*="size-20"] {
      @include breakpoint(tablet-range) {
        width: 50%;
        flex: 0 50%;
      }

      @include breakpoint(mobile-only) {
        width: 100%;
      }
    }
  }
}

.card {
  #{$selector-cards} & {
    color: inherit;
    display: flex;
    flex-wrap: wrap;
    margin: $cards-spacing;
    overflow: hidden;
    transition: 0.3s;
    width: calc(100% - #{$cards-spacing * 2});

    &:not(.nobgoutline-1) {
      box-shadow: $card-box-shadow;
    }

    &.layout-stacked {
      flex-direction: column;

      .content {
        display: flex;
        flex-wrap: wrap;
        flex: 1;

        > div {
          width: 100%;
        }

      }

      .content-bottom {
        align-self: flex-end;
      }

    }


    @include breakpoint(mobile-only) {
      margin: 8px;
      width: calc(100% - #{8px * 2});
    }

    &, &:before {
      border-radius: $card-border-radius;
    }

    &:not([class*="bg-"]):not(.nobgoutline-1) {
      background: $card-background;
      color: $card-text-color;

      //[class*="bg-"] &,
      //.body-bg-alt & {
      //  background: $card-background-alt;
      //}
      //
      //.bg-dark & {
      //  background: #333333;
      //  color: #FFFFFF;
      //}
      //
      //.body-bg-alt .tabs & {
      //  background: $card-background;
      //}

    }

    &.link-card {
      box-shadow: $card-box-shadow-alt;

      &:hover, &:focus {
        box-shadow: $card-box-shadow-hover;

        .title {
          color: $card-link-color-hover;
        }

        .image-active .image-icon {
          transform: scale(1.1);
        }
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 4px map-get($colors_map, focus-bg);
      }
    }

  }

  &.card-border, .card-border {
    #{$selector-cards} & {
      border-top: solid 8px;
      border-top-color: map-get($colors_map, info-500);

      @each $color in $color_names {
        &.#{$color} {
          border-top-color: map-get($colors_map, #{$color} + "-500");
        }
      }
    }
  }
}


.image-icon-tag {
  #{$selector-cards} & {
    position: relative;
    width: 100%;
  }

  #{$selector-cards} .layout-right & {
    order: 2;
  }

  #{$selector-cards} .layout-right &,
  #{$selector-cards} .layout-left &  {

    @include breakpoint(no-mobile) {

      &.image-active {
        width: 42%;
      }

      &.card-icon-active {
        width: auto;
      }

    }

  }
}

.image-icon-wrapper {
  color: $color-secondary;
  #{$selector-cards} & {
    overflow: hidden;
  }

  #{$selector-cards} .layout-right &,
  #{$selector-cards} .layout-left &  {

    @include breakpoint(no-mobile) {
      height: 100%;
    }

  }
}

#{$selector-cards} a.card.tag-a.link-card {
  text-decoration: none;
}

.image-active .image-icon {

  #{$selector-cards} & {
    border-radius: $card-border-radius $card-border-radius 0 0;
    display: block;
    position: relative;
    transition: 0.3s;

    @include breakpoint(mobile-only) {
      min-height: 1px !important;
    }

    &:not([class*="bg-"]) {
      background-size: cover;
      background-position: center top;
    }
  }

  #{$selector-cards} .nobgoutline-1 & {
    border-radius: $card-border-radius !important;
  }

  #{$selector-cards} .nobgoutline-1.layout-stacked & {
    height: auto;
    aspect-ratio: 3/2;
  }

  #{$selector-cards} .layout-stacked & {
    height: auto;
    aspect-ratio: 3/2;

    &.image-spacing-none {
      width: 100%;
    }

    &.image-spacing-wrapped {
      @include breakpoint(no-mobile) {
        width: calc(100% - 80px);
      }
    }

    &.full-image-card {
      display: flex;
      flex-direction: column-reverse;

      .card-title {
        background: rgba(255,255,255,.8);
        font-family: $font-family-title, Arial;
        font-weight: 600;
        color: map-get($colors_map, slate-600);
        padding: 16px 24px;
        margin-bottom: 0;
        flex: 0;
      }
    }

    .card-title {
      font-weight: 600;
    }
  }

  #{$selector-cards} .small .layout-stacked & {
    height: 130px;
  }

  #{$selector-cards} .layout-right & {
    margin-left: 0 !important;

    &.image-spacing-none {
      border-radius: 0 $card-border-radius $card-border-radius 0;
    }
  }

  #{$selector-cards} .layout-left & {
    margin-right: 0 !important;

    &.image-spacing-none {
      border-radius: $card-border-radius 0 0 $card-border-radius;
    }

  }

  &.image-spacing-wrapped {
    #{$selector-cards} & {
      @include breakpoint(no-mobile) {
        border-radius: $card-border-radius;
        margin: 40px;
        height: calc(100% - 80px);
        width: calc(100% - 40px);
      }

      @include breakpoint(mobile-only) {
        height: 225px;
        width: 100%;
      }
    }
  }


  #{$selector-cards} .layout-right &,
  #{$selector-cards} .layout-left &  {

    &.image-spacing-none {
      height: 100%;

      @include breakpoint(mobile-only) {
        height: 225px;
        width: 100%;
      }

    }
  }
}

#{$selector-cards} {
  &.testimonials {
    .layout-stacked {
      .image-active {
        .image-icon {
          height: auto;
          aspect-ratio: 3/2;
        }
      }
    }
  }
}

.card-icon-active {
  #{$selector-cards} .layout-stacked & {
    + .content {
      padding-top: 16px;
    }
  }

  #{$selector-cards} .small.layout-stacked & {
    + .content {
      padding-top: 8px;
    }
  }
}

.card-icon-active .image-icon {
  #{$selector-cards} .layout-right &,
  #{$selector-cards} .layout-stacked &  {
    padding: 24px 24px 0;
    width: 100%;

    @include breakpoint(mobile-only) {
      padding: 16px 16px 0;
    }
  }

  #{$selector-cards} .layout-right.small &,
  #{$selector-cards} .layout-stacked.small &  {
    padding: 16px 16px 0;
  }

  #{$selector-cards} .layout-right &,
  #{$selector-cards} .layout-left &  {
    padding: 24px 0 24px 24px;

    @include breakpoint(mobile-only) {
      padding: 16px 0 16px 16px;
    }
  }

  #{$selector-cards} .layout-right.small &,
  #{$selector-cards} .layout-left.small & {
    padding: 16px 0 16px 16px;
  }

  #{$selector-cards} .nobgoutline-1 & {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  i {
    &#{$font_awesome_sizes_not} {
      font-size: 32px;
      line-height: 48px;

      #{$selector-cards} .small & {
        font-size: 24px;
        line-height: 32px;
      }

      @include breakpoint(mobile-only) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

.image-container {
  div {
    #{$selector-cards} & {
      background-size: cover;
      height: 100%;

      &.int-bg-centre {
        background-position: center center;
      }
    }
  }
}

.card {
  &.image-left {
    .newspanel #{$selector-cards} & {
      .image-container {
        flex: 60%;

        @include breakpoint(no-desktop) {
          flex: 45%;
        }

        @include breakpoint(small-mobile-range) {
          flex: 100%;
          min-height: 250px;
        }

        div {
          flex: 1;
        }
      }
      .content {
        flex: 40%;
        padding: 32px;

        @include breakpoint(small-mobile-range) {
          padding: 16px;
        }

        .content-top {
          .date {
            margin-bottom: 32px;
          }
          .card-title {
            margin-bottom: 24px;
          }
          .desc {

          }
        }

        .content-bottom {
          margin-top: 32px;

          .read {
            i {
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
}

.tag {
  #{$selector-cards} & {
    bottom: 0;
    left: 28px;
    position: absolute;
    transform: translate(0, 50%);
  }
}

.content {
  #{$selector-cards} & {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 24px;
    width: 100%;

    @include breakpoint(mobile-only) {
      padding: 20px;
    }

  }

  #{$selector-cards} .small & {
    padding: 16px;
  }

  #{$selector-cards} .nobgoutline-1 & {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }


  #{$selector-cards} .layout-right & {

    @include breakpoint(no-mobile) {
      order: 1;
    }

    @include breakpoint(mobile-only) {
      order: 2;
    }

  }

  #{$selector-cards} .layout-right &,
  #{$selector-cards} .layout-left &  {
    flex: 1;
    padding: 40px;

    @include breakpoint(mobile-only) {
      padding: 24px;
    }
  }

}

.card-title {
  #{$selector-cards} & {
    flex: 1;
    font-family: $font-family-title, Arial;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    transition: 0.3s;
    margin-bottom: 8px;

    @include breakpoint(mobile-only) {
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
    }

    &:not(.dash) {
      &:after {
        display: none;
      }
    }
  }

  .testimonials & {
    font-size: 24px;

    @include breakpoint(mobile-only) {
      font-size: 20px;
    }
  }

  #{$selector-cards} .small & {
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
  }

  #{$selector-cards} .card:not(.nobgoutline-1) & {
    color: $card-text-color;
  }

  #{$selector-cards} .card:not(.nobgoutline-1).link-card & {
    color: $card-text-color;
  }

  #{$selector-cards} .card:not(.nobgoutline-1).link-card:hover & {
    color: $card-link-color-hover;
  }

  .bg-dark #{$selector-cards}  & {
    color: #FFFFFF !important;
  }

  .bg-dark #{$selector-cards} .link-card:hover &,
  .bg-dark #{$selector-cards} .link-card:focus & {
    color: #FFFF00 !important;
  }

  #{$selector-cards} .card.nobgoutline-1 & {
    font-size: 28px;
  }

  #{$selector-cards} .link-card.nobgoutline-1:hover &,
  #{$selector-cards} .link-card.nobgoutline-1:focus {
    color: $link-regular;
  }

  #{$selector-cards} .layout-stacked & {
    margin-bottom: 16px;
  }

  #{$selector-cards} .link-card & {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:after {
      content: "\f054";
      display: flex;
      align-self: center;
      font-family: "Font Awesome 6 Pro";
      font-weight: bold;
      margin-left: 8px;
    }
  }

  #{$selector-cards} .link-card .card-icon-active + div  & {
  //  justify-content: center;
  }

  #{$selector-cards} .small .link-card & {
    font-size: 1.25rem;
  }
}

.testimonials {
  .card-title {
    font-weight: 600;
  }
}


.card-subtitle {
  #{$selector-cards} & {
    font-size: $h4-font-size;
    margin-bottom: 1rem;

    @include breakpoint(mobile-only) {
      font-size: $h4-font-size-mobile;
    }
  }

  .testimonials & {
    font-size: 20px;

    @include breakpoint(mobile-only) {
      font-size: 18px;
    }
  }
}

.desc {
  .testimonials & {
    height: 160px;
    overflow: auto;
  }
  #{$selector-cards} & {
    color: $secondary-text-color;

    #{$selector-cards} .link-card & {
      margin-top: 1rem;
    }

    &, p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
  }

  #{$selector-cards} .small & {
    &, p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }
}

.lists {
  #{$selector-cards} & {

    font-size: 1rem;
    list-style: none;
    margin-left: 0;

    i {
      margin-right: 0.5rem;
      width: 1em;
    }

  }
}

.date-location-container {
  #{$selector-cards} & {
    color: $secondary-text-color;

    .date, .location {
      display: inline-block;
      padding-top: 16px;
      font-size: 15px;
      line-height: 24px;
      font-weight: 500;

      i {
        margin-right: 16px;
      }
    }

    .date {
      padding-right: 16px;
    }
  }
}

.link {
  #{$selector-cards} & {
    margin: 0.5rem -0.5rem -0.5rem -0.5rem;

    a {
      display: inline-block;
      line-height: 1.2;
      margin: 0.5rem;
    }

    .link-icon {
      margin-left: 0.5rem;
    }
  }
}

.icon {
  #{$selector-cards} & {
    font-size: 1.5rem;
  }
}


.right {
  #{$selector-cards} & {
    align-items: center;
    display: flex;
    flex: 1;
    padding-left: 1rem;
  }
}

.single-news-article {
  margin-top: -12px;
}