.content-blocks-container {
  .content-blocks {
    .content-block {
      &:not(:last-child) {
        margin-bottom: 32px;
      }

      &.light-border {
        border: solid 2px map-get($colors_map, slate-100);
        padding: 32px;

        @include breakpoint(mobile-only) {
          padding: 20px;
        }

        .content-block-inner {
          .button-container {
            margin-bottom: 0;
          }
        }
      }

      &.border-bottom {
        padding-bottom: 32px;
        border-bottom: solid 1px map-get($colors_map, slate-50);
      }

      .content-block-inner {
        &:not(:last-child) {
          margin-bottom: 32px;
        }

        h2, h2, h3 {
          margin-bottom: 24px;

          &.title {
            color: $nass-green;
            padding: 16px 0;
            font-weight: 600;
          }
        }

        h4, h5, h6, div.title {
          margin-bottom: 12px;
        }

        .accordion-header {
          h2, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
          }
        }

        .title {
          .title-prefix {
            display: inline-block;
            background: map-get($colors_map, primary-500);
            color: $text-white;
            font-size: 16px;
            width: 28px;
            line-height: 28px;
            border-radius: 50%;
            margin-right: 16px;
            text-align: center;
            position: relative;
            bottom: 6px;
          }
        }

        ul {
          &.bullet-icon-list {
            list-style-type: none;
            margin-left: 4px;

            li {
              i {
                margin-right: 16px;

                &.dark-grey {
                  color: $base-text-color;
                }
                &.green {
                  color: map-get($colors_map, success-500);
                }
                &.blue {
                  color: map-get($colors_map, info-500);
                }
                &.red {
                  color: map-get($colors_map, error-500);
                }
                &.yellow {
                  color: map-get($colors_map, focus-bg);
                }
                &.white {
                  color: $text-white;
                }
              }
            }
          }
        }

        .button-container {
          margin-bottom: 24px;
        }
      }
    }
  }
}