.pageindex {

  &.list {
    border-radius: 0.5rem;
    display: inline-block;
    padding: 1.5rem;

    #g-hero & {
      background: none;
      padding: 0;

      a {
        font-weight: 500 !important;
      }
    }

  }

  .title {
    font-size: 1.25;
    font-weight: 500;
  }

  ul {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}