#g-container-content {
  &[data-layout-section="i-content"] {
    background: map-get($colors_map, slate-50);

    .g-container {
      .g-grid {
        .g-block {
          &:first-child {
            section, main, aside {
              .g-content {
                margin-right: 28px;

                @include breakpoint(mobile-only) {
                  margin-left: 28px;
                }
              }
            }
          }
          &:last-child {
            section, main, aside {
              .g-content {
                margin-left: 28px;

                @include breakpoint(mobile-only) {
                  margin-right: 28px;
                }
              }
            }
          }

          section, main, aside {
            &:last-child {
              >.g-container {
                >.g-grid:last-child {
                  .g-content {
                    margin-bottom: 0;
                  }
                }
              }
            }
            &#g-internalnav {
              .g-content {
                background: none;
                padding: 0;
              }
            }
            .g-content {
              background: $pure-white;
              padding: 24px;
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }
}