#g-header {
  background-color: map-get($colors_map, slate-50);
  background-size: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-bottom: solid 4px map-get($colors_map, slate-400);
  padding: 20px;
  @include breakpoint(mobile-only) {
    padding: 0;
  }

  > .g-container {
    > .g-grid {
      align-items: center;

      .g-block:first-child {
        .g-content {
          padding: 16px 32px 16px 0;

          @include breakpoint(mobile-only) {
            padding: 16px;
          }
        }
      }
      .g-block:last-child {
        .g-content {
          @include breakpoint(mobile-only) {
            padding: 0 16px 16px;
          }
        }
      }
    }
  }

  .g-content {
    .header-text {
      color: map-get($colors_map, slate-500);
      font-weight: 500;
      text-align: right;
      font-size: 17px;

      .phone {
        font-weight: bold;
        font-size: 20px;
      }

      @include breakpoint(mobile-only) {
        text-align: center;
      }

      @media screen and (max-width: 380px) {
        font-size: 16px;
      }

      a {
        &:hover {
          border-bottom: solid 2px $link-hover;
        }
      }
    }
  }

  img {
    opacity: .85;
  }
}


@media print {
	#g-header {
    background: $print-background !important;
    color: $print-color !important;

    display: none;
	}
}
