#g-hero-slider {
  > .g-grid {
    > .g-block {
      > .g-content {
        padding: 0;

        .slick-slider {
          .item {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}