// Placeholder color
@mixin input-placeholder($color: null) {
  &::-webkit-input-placeholder { // Chrome/Opera/Safari
    color: $color;
    opacity: 1;
  }
  &::-moz-placeholder { // Firefox 19+
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder { // IE 10+
    color: $color;
    opacity: 1;
  }
  &:-moz-placeholder { // Firefox 18-
    color: $color;
    opacity: 1;
  }
}

// Placeholder general
@mixin placeholder() {
  &::-webkit-input-placeholder { // Chrome/Opera/Safari
    @content
  }
  &::-moz-placeholder { // Firefox 19+
    @content
  }
  &:-ms-input-placeholder { // IE 10+
    @content
  }
  &:-moz-placeholder { // Firefox 18-
    @content
  }
}