#g-copyright {
  background: $copyright-background;
  font-family: get-font-family($font-family-copyright);
  font-size: 0.75rem;
  line-height: 0.75rem;

  .g-content {
//    padding: 1rem $grid_spacing;
  }

  &, a {
    color: $copyright-text-color;
  }

  a {
    &:not(.icon) {
      border-bottom: 1px solid rgba($copyright-text-color, 0.5);
    }

    &:hover, &:focus {
      opacity: 0.75;
    }

    &[href*="information"] {
      @include breakpoint(sm-mobile-range) {
        + .divider {
          display: none;
        }
      }
    }

    &[href*="contact"] {
      @include breakpoint(sm-mobile-range) {
        margin-top: $grid_spacing/3;
      }
    }
  }

  .er-copyright {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(mobile-only) {
      justify-content: center;
    }
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;

    @include breakpoint(mobile-only) {
      flex-basis: 100%;
//      margin-bottom: $grid_spacing/2;
    }
  }

  .message {
    @include breakpoint(mobile-only) {
      margin-bottom: $grid_spacing/3;
    }
  }

  .links {
    .divider {
      &:last-child {
        display: none;
      }
    }
    @include breakpoint(mobile-only) {
      justify-content: center;
      .divider {
        &:first-child {
          display: none;
        }
      }
    }
  }

  .links,
  .message {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .divider {
    background: rgba($copyright-text-color, 0.5);
    content: "";
    display: block;
    height: .5rem;
    margin: 0 0.5rem;
    width: 1px;
  }

  .icon {
    font-size: 2rem;
    @include breakpoint(no-desktop) {
      font-size: 1.5rem;
    }
  }

}

@media print {
  #g-copyright {
    background: #fff !important;
    color: #000 !important;
  }
}
