body {
  color: $base-text-color;
  background: $base-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;

  *::selection {
    color: $selection-text-color;
    background: $selection-background;
  }

  *::-moz-selection {
    color: $selection-text-color;
    background: $selection-background;
  }
}

//--safe-area-inset-bottom: env(safe-area-inset-bottom);

.core-rest {
  content: "";
}

.g-grid {
  width: 100%;
}