.modal-content {
  border-radius: 0 !important;
  max-width: 850px;
  width: calc(100% - 3rem);

  @include breakpoint(mobile-only) {
    width: calc(100% - 2rem);
  }
}

.modal-heading {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  h3 {
    margin-top: 0;
  }

  i {
    margin-right: 0 !important;
  }

  .modal-close {
    line-height: 1;
    padding: 8px 12px;
  }
}

.modal-body {
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
}