article {
  &#g-article {
    .page-header {
      background: map-get($colors_map, grey-50);

      h1 {
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;
        padding: 24px;
        font-size: 48px;
        line-height: 56px;
        color: map-get($colors_map, slate-500);
      }
    }

    .com-content-article__body {
      margin: 0 auto;
      max-width: 1280px;
      width: 100%;
      padding: 64px 24px;

      div {
        &.image-container {
          display: inline;

          img {
            &.max-width-300 {
              max-width: 300px;
            }
            &.float-right {
              margin-left: 24px;
              margin-bottom: 24px;
            }
          }

          @media screen and (max-width: $breakpoints-large-mobile-container) {
            display: block;
            text-align: center;
            img {
              &.max-width-300 {
                max-width: 100%;
              }
              &.float-right {
                float: none !important;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}