#g-bottom {

  &:not([class*="er-bg"]) {
    background: $bottom-background;
    color: $bottom-text-color;

    a {
      &:not(:hover):not(:focus) {
        color: $bottom-text-color;
      }

      &:not([class*="er-link-"]) {
        &:hover, &:focus {
          color: $bottom-link-color-hover;
        }
      }

    }

  }
}

@media print {
  #g-bottom {
    background: $print-background !important;
    color: $print-color !important;

    display: none;
  }
}
