#g-navigation {
  &.navigation-override {
    > .g-grid {
      display: flex !important;
      flex-wrap: nowrap;
      align-items: center;

      [class*="size-"],
      [class^="size-"] {
        width: auto !important;
        max-width: none !important;
        flex: 0 0 auto !important;
        box-sizing: content-box !important;
      }

      .header-logo-block {
        flex: 0 0 auto !important;
        a {
          display: inline-block;

          &:focus {
            outline: none;
            box-shadow: 0 0 0 4px #ffd500;
          }

          img {
            width: 100%;
            max-height: 90px;

            @media screen and (max-width: 1199px) {
              max-height: 80px;
            }

            @media screen and (max-width: 767px) {
              max-height: 70px;
            }
          }
        }
      }

      .header-menu-block {
        flex: 1 1 auto !important;
      }
    }
  }

  position: sticky;
  top: 0;
  background-color: map_get($colors_map, info-900);;
  color: $text-white;
  z-index: 1;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
  opacity: .9;
  min-height: 64px;

  @media screen and (max-width: 1199px) {
    background-size: 200px;
  }

  @media screen and (max-width: 767px) {
    background-size: 160px;
  }

  > .g-grid {
    align-items: center;

    > .g-block {
      >.g-content {
        padding: 16px;
      }

      &.header-image {
        @media screen and (max-width: 767px) {
          &.size-20 {
            width: 80%;
            flex: 0 80%;
          }
        }
      }
      &.header-menu {
        &.size-60 {
          @media screen and (max-width: 959px) {
            width: 80%;
            flex: 0 80%;

            > .g-content {
              padding: 16px 16px 0 0;
            }
          }
        }
      }
      &.header-contact {
        &.size-20 {
          @media screen and (max-width: 959px) {
            width: 100%;
            flex: 0 100%;

            > .g-content {
              padding: 0 24px 8px 0;
            }
          }

          @media screen and (max-width: 767px) {
            > .g-content {
              padding: 0 8px 8px 0;
            }
          }
        }
        .header-social-icons {
          display: flex;
          gap: 16px;
          justify-content: end;

          img {
            max-width: 36px;
            border-radius: 4px;

            &:hover {
              opacity: 1;
              -webkit-box-shadow: 0 0 0 4px rgba(247,255,0,1);
              -moz-box-shadow: 0 0 0 4px rgba(247,255,0,1);
              box-shadow: 0 0 0 4px rgba(247,255,0,1);
            }
          }

          @media screen and (max-width: 1199px) {
            gap: 8px;

            img {
              max-width: 28px;
            }
          }

          @media screen and (max-width: 767px) {
            //display: none;
          }
        }
      }

    }
  }

  .g-main-nav {
    text-align: right;

    .g-toplevel  {
      display: inline-block;

      > li.g-menu-item, li.g-menu-item:last-child {
        margin-bottom: 0;
        line-height: 31px;
      }
      > li.g-menu-item {
        > a.g-menu-item-container, .g-menu-item-container {
          text-decoration: none !important;
          color: $navigation-text-color !important;
          padding: 16px !important;

          &:focus {
            outline: none;
            box-shadow: 0 0 0 4px #ffd500;
          }

          @media screen and (max-width: 1199px) {
            padding: 8px !important;
            font-size: 15px;
          }

          &:hover {
            color: $navigation-text-color-hover !important;
            background-color: map_get($colors_map, slate-200);
          }
        }
      }

      li.g-menu-item {
        a.g-menu-item-container {
          i {
            margin-right: 8px;
            position: relative;
            bottom: 1px;
          }
        }
      }
    }
  }

  .g-main-nav {
    text-align: center;

    li:focus-within > .g-dropdown {
      visibility: visible;
      top: 100%;
      opacity: 1;

      .g-sublevel {
        > li {
          padding: 4px;
        }
      }
    }

    .g-toplevel  {
      display: inline-block;

      > li.g-menu-item {
        > a.g-menu-item-container, .g-menu-item-container {
          text-decoration: none !important;
          color: $navigation-text-color !important;
          padding: 16px 28px !important;
          font-weight: 700;

          @media screen and (max-width: 1199px) {
            padding: 8px !important;
            font-size: 15px;
          }

          &:hover {
            color: $text-white !important;
            background-color: map_get($colors_map, info-800);
          }
        }

        .g-dropdown {
          .g-grid, .g-block {
            display: block !important;
            width: 100% !important;
            max-width: 100% !important;
            flex: none !important;
          }
          .g-sublevel {
            > li.g-menu-item {
              > a.g-menu-item-container, .g-menu-item-container {
                //color: map_get($colors_map, slate-800) !important;
              }
            }
          }
        }
      }
    }
  }

  %navigation-toplevel {
    .g-toplevel  {

      > .g-menu-item {
        &:first-child {
          > .g-menu-item-container {
            padding-left: 0;
          }
        }

        &:last-child {
          > .g-menu-item-container {
            padding-right: 0;
          }
        }
      }
    }
  }

  #featured-menu {
    @extend %navigation-toplevel;

    &, .g-main-nav {
      justify-content: center;
    }

    @include breakpoint(no-mobile) {
      display: none;
    }

    .g-menu-item-container {
      padding-left: 0.75rem;
      padding-right: 0.75rem;

      @include breakpoint(sm-mobile-range) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }

  #desktop-menu {
    @include breakpoint(mobile-only) {
      display: none;
    }
    @include breakpoint(no-mobile) {
      @extend %navigation-toplevel;

      .g-toplevel {
        > .g-menu-item {

          &:nth-child(n+2):nth-last-child(n+2) {
            > .g-menu-item-container {
              i {
                display: none;
              }
            }
          }
        }
      }

      .g-menu-item-container {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;

        > i {
          margin-right: 0;
        }
      }
    }

    @include breakpoint(tablet-range) {
      .g-menu-item-container {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  &.panel-active {
    #featured-menu, 
    ~ * {
      @include breakpoint(mobile-only) {
        display: none;
      }
    }
  }
}