section {
  &#g-category-cards, &#g-page-heading, &#g-facebook {
    //background: map-get($colors_map, grey-50);
  }

  &[id^="g-row-"] {
    background: map-get($colors_map, slate-50);
    > .g-container {
      > .g-grid {
        background: white;

        &:first-child {
          padding-top: 24px;
        }
      }
    }
  }

  &#g-page-heading {
    > .g-container {
      > .g-grid {
        > .g-block {
          > .g-content {
            padding: 48px 24px;
          }
        }
      }
    }
    .section-heading {
      h2 {
        &.main-heading {
          font-size: 48px;
          line-height: 56px;
          color: map-get($colors_map, slate-500);
        }
      }
    }
  }

  &.row-alt {
    background: map_get($colors_map, slate-200);

    .g-container {
      > .g-grid {
        > .g-block {
          > .g-content {
            //background: white;
            padding: 24px;
            margin-bottom: 32px;
          }
        }
      }
    }
  }

  .g-content {
    padding: 4px 24px;
  }
}



body.outline-15 {
  section#g-row-1 {
    > .g-container {
      padding-top: 0 !important;
      padding-top: 32px !important;

      .col {
        padding-left: 0;
        padding-right: 0;

        .page-header {
          h1 {
            margin-bottom: 32px;
            color: map-get($colors_map, slate-500);
          }
        }

        .com-content-article__body {
          border: solid 1px map-get($colors_map, slate-50);
          padding: 16px;

          div.image-container + p {
            margin: 0 0 32px;
          }

          img {
            padding: 0 20px 20px 0;

            &.max-width-300 {
              max-width: 300px;

              @media screen and (max-width: 560px) {
                max-width: 100%;
              }
            }

            &.image-right {
              padding: 0 0 20px 20px;

              @media screen and (max-width: 560px) {
                padding: 0 0 20px;
              }
            }

            &.float-right {
              @media screen and (max-width: 560px) {
                float: none !important;
                display: block;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}