@import "mixins/svgsize";
@import "mixins/appearance";
@import "mixins/breakpoints";
@import "mixins/decimalround";
@import "mixins/directparent";
@import "mixins/encodecolor";
@import "mixins/gradient";
@import "mixins/importfontawesome";
@import "mixins/importgooglefont";
@import "mixins/number";
@import "mixins/opacity";
@import "mixins/placeholder";
@import "mixins/str-replace";