/* Modal */

.modal-injected-content {
  display: none;
}

.modal-open {
  &:hover {
    cursor: pointer;
  }
}

.er-modal-background {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  content: '';
  z-index: 30;
  background: rgba(1,1,1,.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .er-modal-content {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    z-index: 35;
    background: #FFFFFF;
    color: #4F4F4F;
    border-radius: 8px;

    .er-modal-heading {
      padding: 1rem;
      margin-bottom: 1rem;
      border-bottom: solid 1px #E0E0E0;

      .er-btn-white.modal-close {
        text-shadow: none;
        box-shadow: none;
        color: #9F094A;
        border: solid 2px #9F094A;
        opacity: 1;
        margin: 0;
        padding: .75rem 1rem;
        font-size: 20px;
        border-radius: 12px;
        float: right;

        &:hover {
          background: #9F094A;
          color: #FFFFFF;
        }

        i {
          margin-right: 0;
        }
      }
    }

    .er-modal-body {
      font-size: 1rem;
      padding: 0 1rem 1rem;
    }
  }
}