.er-site-notices {
  font-size: 22px;
  position: relative;
  z-index: 1000;
}

.er-site-notice {
  align-items: center;
  background: black;
  display: flex;
  justify-content: center;
  line-height: 175%;
  padding: 1rem;
  text-align: center;

  .left {
    display: flex;
    align-items: center;
  }

  &, a {
    color: #FFFFFF;
  }

  a {
    border-bottom: 1px solid;
    font-weight: bold;
    padding-bottom: 2px;

    &:hover, &:focus {
      color: yellow;

      i {
        color: black;
      }

    }

  }

  i {
    color: yellow;
  }

  > span {
    > i {
      margin-right: 0.5rem;
    }
  }

  .er-cookie-close {
    border-bottom: 0 !important;
    margin-left: 0.5rem;
  }
}