h1, h2, h3, h4, h5, h6 {
  &.primary-color-palette-heading {
    color: $color-secondary;
    letter-spacing: 0.06em;
  }
}

.h1-mobile {
  font-size: $h1-font-size-mobile;
  line-height: $h1-line-height-mobile;
  letter-spacing: -0.5px;
}

.h2-mobile {
  font-size: $h2-font-size-mobile;
  line-height: $h2-line-height-mobile;
  letter-spacing: -0.5px;
}

.h3-mobile {
  font-size: $h3-font-size-mobile;
  line-height: $h3-line-height-mobile;
}

.h4-mobile {
  font-size: $h4-font-size-mobile;
  line-height: $h4-line-height-mobile;
}

.h5.mobile {
  font-size: $h5-font-size-mobile;
  line-height: $h5-line-height-mobile;
}

.h6-mobile {
  font-size: $h6-font-size-mobile;
  line-height: $h6-line-height-mobile;
}

.sg-name {
  font-weight: $font-weight-semibold;
  color: $color-primary;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.sg-value {
  font-family: $font-family-code;
  font-size: 12px;
  font-weight: $font-weight-regular;
  color: $color-secondary;
  line-height: 16px;
  letter-spacing: 0.02rem;
}

.sg-hr {
  border-bottom: 1px solid map-get($colors_map, slate-300);
}

ul.swatch-container {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    float: left;

    &:not(:last-child) {
      margin-right: 16px;
    }

    .swatch {
      background-color: $color-pure-white;
      border-color: rgba(0,0,0,.08);
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      height: 72px;
      width: 72px;
      margin-bottom: 8px;
    }

    .swatch-value {
      font-weight: $font-weight-semibold;
      color: $color-primary;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
    }
    .swatch-hex {
      font-family: $font-family-code;
      font-size: 12px;
      font-weight: $font-weight-regular;
      color: $color-secondary;
      line-height: 16px;
      letter-spacing: 0.02rem;
    }
  }
}

ul.typeface-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  li {
    float: left;

    &:not(:last-child) {
      margin-right: 16px;
    }

    .typeface {
      background-color: map-get($colors_map, slate-50);
      font-size: 48px;
      line-height: 64px;
      border-color: rgba(0, 0, 0, .08);
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      padding: 24px 48px;
      margin-bottom: 8px;
    }
  }
}

.sg-description {
  border-bottom: solid 1px map-get($colors_map, slate-200);
  padding-bottom: 16px;
}

ul.sg-display-details {
  list-style-type: none;
  padding: 0 0 1rem;
  margin: 0;
  border-bottom: solid 1px map-get($colors_map, slate-200);
  overflow: hidden;

  li {
    float: left;

    &:not(:last-child) {
      &:not(:only-child) {
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: solid 1px map-get($colors_map, slate-200);
      }
    }
  }
}

.sg-icon-container {
  background-color: map-get($colors_map, slate-50);
  border: solid 1px map-get($colors_map, slate-200);
  border-radius: 12px;
  display: block;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}

.sg-circle {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: $color-pure-white;
}

.sg-blur-image {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  background-color: rgba(17,24,39,0.2);
  background-image: url('/images/styleguide/paint-splashes.jpg');
  background-size: cover;
  background-position: center top;
}

.sg-blur-overlay {
  height: 120px;
  border-radius: 12px;
}

table {
  &.sg-table {
    .spacing-demo {
      background-color: map-get($colors_map, 'primary-200');
      height: 20px;
    }

    .sg-smaller-text {
      font-size: 14px;
      line-height: 20px;
    }

    &.sg-buttons-demo {
      th {
        text-transform: uppercase;
        padding-bottom: 16px;
        text-align: center;
      }

      td {
        padding: .75rem .5rem;
      }
    }
  }
}

@each $size, $size_name in $grid_spacing_4px_map {
  .spacing-demo {
    &.#{$size_name} {
      width: ($grid_spacing_4px * $size)+px;
    }
  }
}

// Demo button states
a.btn-sg-demo {
  &:hover {
    box-shadow: none;
  }
  &.sg-green, &.sg-green:hover, &.sg-green:active {
    color: #f5f5f5;
    background-color: map_get($colors_map, primary-700);
    border-bottom-color: map_get($colors_map, primary-900);

    &.sg-hover {
      background-color: map_get($colors_map, primary-800);
    }

    &.sg-active {
      background-color: map_get($colors_map, primary-900);
    }

    &.sg-disabled {
      pointer-events: none;
      color: map_get($colors_map, base-secondary);
      background-color: map_get($colors_map, primary-50);
      border-bottom-color: map_get($colors_map, primary-50);
    }
  }

  &.sg-blue, &.sg-blue:hover, &.sg-blue:active {
    color: #f5f5f5;
    background-color: map_get($colors_map, link-default);
    border-bottom-color: map_get($colors_map, link-hover);

    &.sg-hover {
      background-color: map_get($colors_map, link-hover);
      border-bottom-color: #001E3D;
    }

    &.sg-active {
      background-color: #002E5C;
      border-bottom-color: #002E5C;
    }

    &.sg-disabled {
      pointer-events: none;
      color: map_get($colors_map, base-secondary);
      background-color: map_get($colors_map, info-100);
      border-bottom-color: map_get($colors_map, info-100);
    }
  }

  &.sg-grey, &.sg-grey:hover, &.sg-grey:active {
    color: map_get($colors_map, base-primary);
    background-color: map_get($colors_map, slate-100);
    border-bottom-color: map_get($colors_map, slate-400);

    &.sg-hover {
      background-color: map_get($colors_map, slate-200);
      border-bottom-color: #001E3D;
    }

    &.sg-active {
      background-color: map_get($colors_map, slate-300);
      border-bottom-color: map_get($colors_map, slate-300);
    }

    &.sg-disabled {
      pointer-events: none;
      color: map_get($colors_map, base-secondary);
      background-color: map_get($colors_map, slate-50);
      border-bottom-color: map_get($colors_map, slate-50);
    }
  }

  &.sg-red, &.sg-red:hover, &.sg-red:active {
    color: #f5f5f5;
    background-color: map_get($colors_map, error-700);
    border-bottom-color: map_get($colors_map, error-800);

    &.sg-hover {
      background-color: map_get($colors_map, error-800);
      border-bottom-color: map_get($colors_map, error-900);
    }

    &.sg-active {
      background-color: map_get($colors_map, error-900);
      border-bottom-color: map_get($colors_map, error-900);
    }

    &.sg-disabled {
      pointer-events: none;
      color: map_get($colors_map, base-secondary);
      background-color: map_get($colors_map, error-50);
      border-bottom-color: map_get($colors_map, error-50);
    }
  }

  &.sg-link, &.sg-link:hover, &.sg-link:active {
    color: map-get($colors_map, link_default);
    background-color: transparent;
    border-bottom-color: transparent;
    text-decoration: underline;
    &:after {
      display: inline-block;
    }

    &.sg-hover {
      color: map-get($colors_map, link_hover);
    }

    &.sg-active {
      color: #map-get($colors_map, link_hover);
      background-color: map_get($colors_map, slate-50);
      border-bottom-color: map_get($colors_map, slate-50);
    }

    &.sg-disabled {
      pointer-events: none;
      color: map_get($colors_map, base-secondary);
      background-color: map_get($colors_map, slate-50);
      border-bottom-color: map_get($colors_map, slate-50);
    }
  }
}

a.btn-sg-demo {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px map-get($colors_map, focus-bg);
    border-radius: 4px;
  }
}

.sg-focus-outline {
  box-shadow: 0 0 0 4px map-get($colors_map, focus-bg);
  border-radius: 4px;
  display: inline-block;

  a.btn-sg-demo {
    &:focus {
      outline: none;
    }
  }
}

.sg-home-search-tablet {
  width: 480px;

  .btn-search {
    min-height: 72px;
    border-radius: 6px;
    padding: 16px;

    &:before {
      font-size: 17px;
      line-height: 24px;
    }
  }
}

.sg-home-search-mobile {
  width: 340px;

  .btn-search {
    min-height: 56px;
    border-radius: 6px;
    padding: 16px;

    &:before {
      font-size: 17px;
      line-height: 24px;
    }

    &:after {
      display: flex;
      align-items: center;
      font-family: "Font Awesome 6 Pro";
      font-size: 20px;
      content: "\f002";
      margin: 0;
      height: 100%;
      padding: 0 16px;
      border-radius: 0;
      border-bottom: none;
      right: 0;
    }
  }
}